* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;


  /* fonts */

  --font-header:  'Anton', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-title:'Lobster', cursive;
}


body {
font-size: 1.6rem;
height: 100%;
max-width: 100vw;

background: rgb(1, 1, 1);
overflow: hidden;

}



header{

height: 6rem;

padding: 5rem 5rem 0;

display: flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
}

.title h2{
font-size: 3rem;
color: rgba(255, 255, 255, 0.749);
font-family: var(--font-header);
font-weight: 400;
letter-spacing: .4rem;
}

.title h2 span{
    color:#e66d27e9;
}

.navegation{
 width: 45rem;
 height: 5rem;
}

.navegation ul {
  display: flex;
  justify-content: space-around;
  height: 100%;

  
  padding-top: 1.5rem;
  list-style: none;

  color: rgba(255, 255, 255, 0.749);
}

.navegation li {
  font-size: 1.7rem;
  font-weight: 800;

  font-family: var(--font-body);
  letter-spacing: .17rem;

  text-transform: uppercase;
}

.navegation li.active{
  color:#e66d27e9;
  transform: scale(1.1);
  transition: all .4s;
  border: 0px;
}

.navegation li.active:hover{
  border: none;
}

.navegation li:hover{
border-bottom: 2px solid #e66d27e9;
transition-delay: .5s;
transition: step-end;
cursor: pointer;
}



/* SECTION 01 */


section#home {

display: flex;
font-family: var(--font-body);
justify-content: space-evenly;
padding-bottom: 0rem;
}

section#home .apresentation{
  padding-top: 14rem;

  align-items: center;
  margin-left: 5rem;

  width: 70rem;
}

section#home .apresentation p{
  color: rgba(255, 255, 255, 0.749);
  font-size: 1.8rem;
  font-family: var(--font-body);
  font-weight: 100;
  
  letter-spacing: .3rem;
  margin-bottom: 3rem;
}

section#home .apresentation h1{
  color: #e66d27e9;
  font-family: var(--font-body);

  font-weight: 800;
  font-size: 7rem;
  letter-spacing: .8rem;


  transition: text-shadow 200ms;
}

section#home .apresentation h1 {
  text-shadow: rgba(173, 43, 14, 0.692) -3px 0, rgb(28, 30, 30) 3px 0;
}






/* texto dinâmico */

.wrapper {
  display: flex;
}


.apresentation .wrapper {
  margin-left: 7rem;
}

.apresentation .wrapper h3{

  margin-top: 5rem;
  color: #ffffffbf;
  font-size: 4.5rem;
  font-family: var(--font-body);
  font-weight: 400;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.dynamic-txts li {

  list-style: none;
  color:  #e66d27e9;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: -2rem;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
      top: -36rem;
  }
}

.dynamic-txts li span {
  font-family: var(--font-body);
  font-size: 5.4rem;
  font-weight: 600;

  position: relative;
  margin: .5rem 0;
  line-height: 9rem;
}

.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  border-left: 2px solid white;
  animation: typing 3s steps(10) infinite;
}

@keyframes typing {
  40%,
  60% {
      left: calc(100% + 3rem);
  }
  100% {
      left: 0;
  }
}


section#home img {
height: 44rem;
border-radius: 6rem;
margin-top: 2rem;
filter: drop-shadow(8px 8px 4px #e66d27e9);
}


footer {
position: fixed;
bottom: -5rem;

width: 100%;

}